@model AdminLTE.MVC.ViewModels.ResetPasswordVM

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Reset Password</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form asp-action="ResetPassword" asp-controller="User" asp-area="Admin" method="post" novalidate>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">User Name<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" asp-for="UserName" class="form-control"
                                        disabled/>
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">New Password</label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="password" asp-for="NewPassword" class="form-control"
                                        placeholder="Enter Your Password" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Confirm Password<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="password" asp-for="ConfirmPasswor" class="form-control"
                                        placeholder="Enter the ConfirmPasswor" />
                                    <span asp-validation-for="ConfirmPasswor" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="ln_solid">
                                <div class="form-group">
                                    <div class="col-md-6 offset-md-3">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-success">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
